<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <body>
  <div class="container">
    <div class="row">
      <nav class="menu">
        <ul class="items">
          <li class="item">
            <i class="fa fa-home" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-user" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </li>
          <li class="item item-active">
            <i class="fa fa-commenting" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-file" aria-hidden="true"></i>
          </li>
          <li class="item">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </li>
        </ul>
      </nav>

      <section class="discussions">
        <div class="discussion search">
          <div class="searchbar">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="Search..."></input>
          </div>
        </div>
        <div class="discussion message-active">
          <div class="photo" style="background-image: url(https://www.iamexpat.nl/sites/default/files/styles/article--full/public/zoos-animal-parks-netherlands.jpg?itok=5LXVLOIX);">
            <div class="online"></div>
          </div>
          <div class="desc-contact">
            <p class="name">Tiger</p>
            <p class="message">Hello ! 😳</p>
          </div>
          <div class="timer">12 sec</div>
        </div>

        <div class="discussion">
          <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1500479694472-551d1fb6258d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);">
            <div class="online"></div>
          </div>
          <div class="desc-contact">
            <p class="name">Fox</p>
            <p class="message">Ven pronto, ya vamos a salir!</p>
          </div>
          <div class="timer">3 min</div>
        </div>

        <div class="discussion">
          <div class="photo" style="background-image: url(https://www.nationalgeographic.com/content/dam/animals/2018/09/comedy-wildlife-awards-photos/comedy-wildlife-awards-squirel-stop.jpg);">
          </div>
          <div class="desc-contact">
            <p class="name">Ardilla</p>
            <p class="message">Vienes hoy a comer?</p>
          </div>
          <div class="timer">42 min</div>
        </div>

        <div class="discussion">
          <div class="photo" style="background-image: url(https://ichef.bbci.co.uk/news/660/cpsprodpb/BEEB/production/_108557884_gettyimages-486237421.jpg);">
            <div class="online"></div>
          </div>
          <div class="desc-contact">
            <p class="name">Leon</p>
            <p class="message">Te vere hoy en la fiesta? 🙂</p>
          </div>
          <div class="timer">2 hour</div>
        </div>

        <div class="discussion">
          <div class="photo" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVd3y4dD-EZW7QpjhrgsJbnwkMNnc6c-LeBL2tqOx6bMlOnZ7fKw);">
          </div>
          <div class="desc-contact">
            <p class="name">Cebra</p>
            <p class="message">Ahahah que buen chiste😂</p>
          </div>
          <div class="timer">1 day</div>
        </div>

        <div class="discussion">
          <div class="photo" style="background-image: url(https://cdn.editorchoice.com/wp-content/uploads/2018/08/jaguar.jpg);">
          </div>
          <div class="desc-contact">
            <p class="name">Guepardo</p>
            <p class="message">No te olvides de preguntar el regalo para papa</p>
          </div>
          <div class="timer">4 days</div>
        </div>

        <div class="discussion">
          <div class="photo" style="background-image: url(https://dazedimg-dazedgroup.netdna-ssl.com/900/azure/dazed-prod/1260/4/1264680.jpg);">
            <div class="online"></div>
          </div>
          <div class="desc-contact">
            <p class="name">Conejo</p>
            <p class="message">Me devuelves mi chompita?</p>
          </div>
          <div class="timer">1 week</div>
        </div>
      </section>

      <section class="chatByFriend">

      </section>
    </div>
  </div>
</body>
    
</body>
</html>